/*Custom styles*/
@media all
{
    *{
        /*font-size: 11px;
        font-family: Arial, sans-serif;
        color:  #000000;*/

        font-size: 11px;
        font-family: Arial, sans-serif;
        /*font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;*/
        color:  #000000;

        -webkit-text-size-adjust: none;
        -webkit-font-smoothing: subpixel-antialiased;
    }

    body, html {

    }

    /* Link Styles */
    a:link, .link:link {
        text-decoration: none;
    }

    a:visited, .link:visited {
        text-decoration: none;
    }

    a:hover, .link:hover {
        text-decoration: underline;
    }

    a:active, .link:active {
        text-decoration: none;
    }

    .link{
        cursor: pointer;
    }

    form {
        display: inline;
    }

    img {
        border: 0px;
    }

    table {
        padding: 0px;
        border: 0px;
        empty-cells: show;
    }

    h1{
        padding: 5px 0px 5px 0px;
        margin: 0px;

        font-size: 14px;
    }

    h2{
        padding: 0px;
        margin: 0px;

        font-size: 11px;
        font-weight: normal;
    }


    /*Rich input */
    textarea, input[type="text"], input[type="password"] {
        /*border-style: dotted;
        border-width: 0px 0px 1px 0px;*/

        border-style: solid;
        border-width: 1px;

        padding: 1px;
        margin: 0px;

        height: 16px;
        line-height: 16px;

        background-position: 0% 50%;
        background-repeat: repeat-x;

        box-shadow: inset 0px 0px 2px 0px #CCC;

        border-radius: 0px;
    }

    textarea[readonly], input[type="text"][readonly], input[type="password"][readonly] {
        border-style: none;
        border-width: 0px;

        background-color: transparent;

        box-shadow: none;


    }

    select {
        border-style: solid;
        border-width: 1px;

        padding: 0px;

        /*padding: 1px;
        margin: 0px;*/

        /*height: 20px;
        line-height: 20px;*/

        /*-moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;*/
    }

    .button:link {
        text-decoration: none;
    }

    .button:visited {
        text-decoration: none;
    }

    .button:hover {
        text-decoration: none;
    }

    .button:active {
        text-decoration: none;
    }

    .button, button, input[type="reset"], input[type="submit"], input[type="button"]{
        border-style: solid;
        border-width: 1px;

        padding-left: 10px;
        padding-right: 10px;
        padding-top: 3px;
        padding-bottom: 3px;

        cursor: pointer;

        overflow: visible;

        background-position: 0% 50%;
        background-repeat: repeat-x;

        display: inline;

        /*box-shadow: 0px 0px 2px 0px #CCC;
        border-radius: 0px;*/
    }

    .buttonDelete{
        background-position: 0% 50%;
        background-repeat: no-repeat;

        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 15px;
    }

    .buttonPrint{
        background-position: 0% 50%;
        background-repeat: no-repeat;

        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 15px;
    }

    .buttonExport{
        background-position: 0% 50%;
        background-repeat: no-repeat;

        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 15px;
    }



    .left{
        text-align: left;
    }
    .center{
        text-align: center;
    }
    .right{
        text-align: right;
    }

    .maxHeight{
        height: 100%;
    }

    .top{
        vertical-align: top;
    }

    .bottom{
        vertical-align: top;
    }

    .bold{
        font-weight: bold !important;
    }

    .italic{
        font-style: italic !important;
    }

    .disabled{
        color: #AAAAAA !important;
        cursor: auto !important;
    }

    .normal{
        font-weight: normal !important;
    }

    .filterCell{
        padding-left: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        vertical-align: middle;
    }
    .minSeparatorCell{
        font-size: 1px;
        height: 8px;
    }
    .separatorCell{
        font-size: 1px;
        height: 14px;
    }
    .maxSeparatorCell{
        font-size: 1px;
        height: 20px;
    }

    #container {
        margin: 0px;
        padding: 0px;

        height: 100%;
        width: 100%;

        background-color: transparent;
        background-position: top center;
        background-repeat: no-repeat;
    }

    #page {
        /*width: 1200px;*/

        position: relative;

        margin: 0 auto;

        border-width: 0px;
        border-style: solid;


        background-color: #FFFFFF;
        background-position: bottom right;
        background-repeat: no-repeat;

        /*box-shadow: 0px 2px 2px #000000;*/
        /*box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    }


    #header {


        width: 100%;

        background-position: top left;
        background-repeat: no-repeat;
    }

    #menu {
        padding: 0px;

        background-position: 0% 50%;
        background-repeat: repeat-x;

        border-width: 1px;
        border-style: solid;

        padding-left: 0px;
        padding-right: 0px;

        text-align: left;

        /*box-shadow: 0px 0px 2px 0px #CCC;
        border-radius: 0px;*/
    }

    #pageTitle{
        padding: 5px 0px 10px 0px;
        margin-top: 0px;

        background-position: center left;
        background-repeat: repeat-x;

        border-width: 0px;
        border-style: solid;

        text-align: left;
    }

    .menuButton {
        width: 30px;

        background-position: 50% 50%;
        background-repeat: no-repeat;

        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 2px;
        padding-left: 2px;

        display: block;

        position: relative;

        cursor: pointer;
    }

    .menuButton#menuButtonHome, .menuButton#menuButtonHomeDisabled{
        border-right-width: 1px;
        border-right-style: solid;
    }

    .menuButton#menuButtonStatistics, .menuButton#menuButtonStatisticsDisabled{
        border-right-width: 1px;
        border-right-style: solid;
    }

    .menuButton#menuButtonSearch, .menuButton#menuButtonSearchDisabled{
        border-right-width: 1px;
        border-right-style: solid;
    }

    .menuButton#menuButtonExit, .menuButton#menuButtonExitDisabled{
        border-left-width: 1px;
        border-left-style: solid;
    }

    .menuButton#menuButtonRule, .menuButton#menuButtonRuleDisabled{
        border-left-width: 1px;
        border-left-style: solid;
    }

    .menuContainer{
        position: relative;
    }

    .menuPopupLeft{
        top: 23px;
        left: 3px;

        z-index: 9999;
    }

    .menuPopupRight{
        top: 23px;
        right: 3px;

        z-index: 9999;
    }

    #menuSearchPopup{
        width: 900px;

        padding: 10px 0px;
    }

    #menuSearchPopup .menuSearchPopupTab{
        padding: 0px 10px;

        vertical-align: top;

        border-width: 0px 1px 0px 1px;
        border-style: solid;
    }

    #menuSearchPopup .menuElementTitle{
        border-width: 0px 0px 1px 0px;
        border-style: solid;

        display: block;

        padding: 3px 3px;

        margin-bottom: 5px;

        background-position: 0% 50%;
        background-repeat: repeat-x;

    }

    #menuSearchPopup .menuPanel{
        border: 1px solid #C7CFDB;
        background-color: #E5EAF1;
        padding: 5px;
    }

    .menuPopup{
        border-width: 1px;
        border-style: solid;

        position: absolute;

        display: none;

        box-shadow: 0px 0px 10px #888888;

        border-radius: 0px;
    }

    .menuPopupBar{
        padding-left: 50px;

        background-position: 14px 13px;
        background-repeat: no-repeat;
    }

    .homeTitle{
        padding-left: 25px;

        background-position: 5px 50%;
        background-repeat: no-repeat;
    }



    .menuElement{
        border-width: 0px 0px 1px 1px;
        border-style: solid;

        padding-top: 5px;
        padding-bottom: 10px;
        padding-right: 10px;
        /*padding-left: 40px;*/
        padding-left: 10px;

        background-position: 0% 50%;
        background-repeat: repeat-x;

        line-height: 18px;

        display: block;

        text-decoration: none;

        color: #000000;
    }

    .menuElementTitle{
        font-weight: bold;

        /*font-size: 12px;*/

    }

    .menuElementSubTitle{
        font-size: 11px;
        color: #666666;
    }


    .menuElementSeparator{
        height: 1px;
    }



    #content {
        padding-top: 0px;
        padding-bottom: 100px;
        padding-left: 0px;
        padding-right: 0px;

        line-height: 22px;
        text-align: justify;

        background-color: transparent;

        min-height: 500px;
    }

    #buttons{
        padding-top: 50px;

        text-align: right;
    }

    #footer {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 0px;
        padding-left: 0px;
        border-top: 1px solid;
        text-align: left;
        width: 100%;
    }

    .bodyPanel{
        vertical-align: top;
        width: 50%;
        padding-bottom: 30px;
        padding-top: 10px;
    }

    #bodyChartPanel{
        box-shadow: inset 0  10px 10px -10px #BBBBBB;
    }

    .bodySeparator{
        height: 10px;

        border-bottom-width: 1px;
        border-bottom-style: solid;

        border-width: 1px;
        border-style: solid;

        background-position: 50% 50%;
        background-repeat: repeat-x;

        margin-bottom: 0px;
        margin-top: 1px;
    }


    .bodySeparatorButton{
        background-position: 50% 50%;
        background-repeat: no-repeat;
        height: 10px;

        cursor: pointer;
    }

    /*Table*/

    .resultTable{
        width: 100%;
    }

    .resultTableHeader{
        background-position: 0% 50%;
        background-repeat: repeat-x;

        border-width: 0px 0px 1px 0px;
        border-style: solid;

        padding: 3px 0px 3px 3px;

        white-space: nowrap;
    }

    .resultTableRow{
        background-position: 0% 50%;
        background-repeat: repeat-x;
    }

    .resultTableCell{
        border-bottom-width: 1px;
        border-bottom-style: solid;

        padding: 2px 15px 2px 3px;

        /*white-space: nowrap;*/
    }

    .boxContent{
        padding-top: 0px;
        padding-bottom: 30px;

        border-width: 0px 0px 0px 0px;
        border-style: solid;

        box-shadow: inset 0  10px 10px -10px #AAA, inset 0 -10px 10px -10px #AAA;

        white-space: nowrap;
    }

    .boxContentSepartor{
        height: 6px;

        border-width: 1px;
        border-style: solid;

        background-position: 50% 50%;
        background-repeat: repeat-x;
    }

    .columnSorted{

    }

    .columnUnsorted{
        padding-right: 15px;
        background-position: 100% 50%;
        background-repeat: no-repeat;
    }

    .columnAscending{
        padding-right: 15px;
        background-position: 100% 50%;
        background-repeat: no-repeat;
    }

    .columnDescending{
        padding-right: 15px;
        background-position: 100% 50%;
        background-repeat: no-repeat;
    }


    .checkBoxListItem{
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .checkBox{
        width: 12px;
        height: 12px;
        border-width: 1px;
        border-style: solid;
        cursor: pointer;

        margin-right: 5px;

        background-position: 50% 50%;
        background-repeat: no-repeat;

        display: block;
    }


    .checkBoxLabel{
        padding-right: 20px;
        cursor: pointer;

        white-space: nowrap;
    }

    /*Options*/
    .comboBoxOptionDisabled{
        color: #999999 !important;
        cursor: auto !important;
    }


    /*ProgressBar*/

    .progressBarWrap{
        position: relative;

        border-width: 1px;
        border-style: solid;

        text-align: center;
        padding: 0px;

        line-height: 15px;
    }

    .progressBarValue{
        padding: 0px;

        line-height: 15px;
    }

    .progressBarText{
        padding: 0px;

        top:0;
        left:0;

        position: absolute;

        white-space: nowrap;

        font-size: 11px;

        width: 100%;

        line-height: 15px;
    }

    /*Rule*/
    .ruleHeader{
        background-position: 0% 50%;
        background-repeat: repeat-x;

        border-bottom-width: 1px;
        border-bottom-style: solid;

        border-top-width: 0px;
        border-top-style: solid;

        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 0px;

        white-space: nowrap;
    }

    .ruleOperator{
        width: 100px;
    }

    .ruleValue{
        padding: 3px 10px 3px 5px;

        border-style: solid;
        border-width: 0px 0px 0px 0px;

        white-space: nowrap;
    }

    .ruleMenuCombo{
        padding: 0px 0px 5px 0px;
    }




    .ruleMenuElement .selected{
        background-position: 100% 50%;
        background-repeat: no-repeat;
    }


    /*Popup*/

    #pageMask{
        position: absolute;

        top: 0%;
        left: 0%;

        width: 100%;
        height: 100%;

        opacity: 0.0;

        filter: alpha(opacity=0);

        background-color: #FFFFFF;

        z-index: 99999;
    }

    #loadingPopup
    {
        position: fixed;
        top: 35%;
        left: 50%;

        width:120px;
        /*height:50px;*/
        margin-left: -60px;

        border-width: 1px;
        border-style: solid;

        background-position: 0% 50%;
        background-repeat: repeat-x;

        padding: 4px;

        z-index: 99999;

        box-shadow: 0px 0px 10px #888888;
    }

    .popupContainer {
        position: fixed;
        top: 35%;
        left: 50%;

        width:300px;
        /*height:50px;*/
        margin-left: -150px;

        border-width: 1px;
        border-style: solid;

        background-position: 0% 50%;
        background-repeat: repeat-x;

        padding: 4px;

        box-shadow: 0px 0px 10px #888888;

        z-index: 99999;
    }

    .popupContent{
        padding: 10px;

        border-width: 1px;
        border-style: solid;

        background-position: 0% 50%;
        background-repeat: repeat-x;
    }

    .popupText{
        padding-left: 22px;

        background-position: 0% 50%;
        background-repeat: no-repeat;

        line-height: 18px;
    }


    .informationPanel{
        margin-top: 5px;

        padding: 10px 50px;

        text-align: left;

        border-width: 1px;
        border-style: solid;

        background-position: 15px 10px;
        background-repeat: no-repeat;
    }

    .comboOptions .checkBox{
        border: 0px;
        background-color: transparent;

        margin-left: 5px;
        margin-right: 5px;

    }

    .comboOptions .checkBoxLabel{
        border-right: 1px solid;
        margin-left: 0px;
    }

    .comboOptionLast .checkBoxLabel{
        border-right: 0px solid;
    }


    .comboOptions{
        border-width: 1px;
        border-style: solid;

        background-position: 0% 50%;
        background-repeat: repeat-x;

        width: 1%;

        margin-top: 5px;
        margin-left: 5px;
    }

    .detailValue{

        padding: 3px 10px 3px 5px;

        border-style: solid;
        border-width: 1px 0px 1px 0px;

        white-space: nowrap;
    }

    .detailSeparator{
        font-size: 1px;
        height: 15px;
    }

    .detailValueSeparator{

        padding-left: 20px;

        border-left-width: 1px;

        border-left-style: solid;

        background-position: 0% 50%;
        background-repeat: no-repeat;
    }

    .detailValueArrow{
        background-position: 50% 50%;
        background-repeat: no-repeat;

        border-style: solid;
        border-width: 0px;

        height: 8px;
        width: 8px;
    }

    .detailTable{
        padding-right: 10px;

        border-collapse: collapse;
    }

    .detailLeftTable{
        padding-right: 10px;
    }

    .detailSimpleLeftTable{
        padding-right: 15px;
    }

    .detailTitle{
        /*border-top-width: 1px;
        border-top-style: solid;
        */
        padding: 0px 0px 0px 5px;

        font-weight: bold;

        font-size: 14px;
    }

    .detailTitle input[type="text"]{
        font-weight: bold;

        font-size: 14px;
    }

    .detailValueTitle{
        /*font-style: italic;*/
        padding: 0px;
        white-space: nowrap;

        padding: 0px 10px 0px 5px;
    }

    .detailTableContainer{
        vertical-align: top;

        padding-bottom: 30px;
        padding-top: 20px;
    }


    .floatRight{
        float: right;
    }


    #bodyChartImage{
        /*min-height: 350px;*/
        /*height: 350px;*/
        padding-bottom: 5px;

        vertical-align: middle;

        text-align: center;

        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    .logScaleCombo{
        background-position: 50% 50%;
        background-repeat: no-repeat;
        width: 16px;

        line-height: 22px;
    }

    .trendLinesCombo{
        background-position: 50% 50%;
        background-repeat: no-repeat;
        width: 16px;

        line-height: 22px;
    }
}

/*Only screen styles*/
@media screen
{
    .onlyPrint{
        display: none;
    }
}

/*Only print styles*/
@media print
{
    *{
        -webkit-print-color-adjust: exact;
    }

    body, html {

    }

    .button {
        display: none;
    }

    #container {

    }

    #page {
        width: 100% !important;
    }

    #header {
        display: none;
    }

    #menu {
        display: none;
    }

    #footer {
        border: 0px solid;
    }

    .bodySeparator{
        display: none;
        border: 0px solid;
    }

    .comboOptions{
        display: none;
    }

    .boxContentSepartor{
        height: 3px;
        border-width: 0px;
    }

    .resultTableRowExpanded{
        background-color: #F6F8FA;
    }


}
