/* Link Styles */
@media all
{
    a:link, .link {
        color: #0088CC;
    }

    a:visited, .link:visited {
        color: #0088CC;
    }

    a:hover, .link:hover {
        color: #0088CC;
    }


    .button:active {
        color: #000000;
    }


    .button:link {
        color: #000000;
    }

    .button:visited {
        color: #000000;
    }

    .button:hover {
        color: #000000;
    }

    .button:active {
        color: #000000;
    }
    
    textarea, input[type="text"], input[type="password"] {
        border-color: #9CABC1;
        /*background-color: #F6F8FA;*/
    }

    textarea[readonly], input[type="text"][readonly], input[type="password"][readonly] {
        /*background-color: #F6F8FA;*/
    }

    select {
        border-color: #C7CFDB;
    }

    .button, button, input[type="reset"], input[type="submit"], input[type="button"]{
        border-color: #9CABC1;
        background-color: #E5EAF1;
        background-image: url('./images/background.png');
    }

    .buttonDelete{
        background-image: url('./images/button/delete.png');
    }

    .buttonPrint{
        background-image: url('./images/button/print.png');
    }

    .buttonExport{
        background-image: url('./images/button/export.png');
    }

    #container {

    }

    #page {

    }

    #header {

    }

    #menu {
        background-image: url('./images/background.png');
        border-color: #9CABC1;
    }

    #pageTitle {
        /*background-color: #F6F8FA;*/
        border-color: #9CABC1;
        /*background-image: url('./images/background_light.png');*/
    }

    .menuButton {
        border-color: #9CABC1;
    }

    .menuButton:link {
        text-decoration: none;
        color: #000000;
    }

    .menuButton:visited {
        text-decoration: none;
        color: #000000;
    }

    .menuButton:active {
        text-decoration: none;
        color: #000000;
    }

    .menuButton:hover{
        text-decoration: none;
        color: #000000;
    }

    .menuButton#menuButtonHome{
        background-image: url('./images/menu/home.png');
    }
    .menuButton#menuButtonHomeDisabled{
        background-image: url('./images/menu/home_disabled.png');
        cursor: auto;
    }

    .menuButton#menuButtonStatistics{
        background-image: url('./images/menu/statistics.png');
    }
    .menuButton#menuButtonStatisticsDisabled{
        background-image: url('./images/menu/statistics_disabled.png');
        cursor: auto;
    }

    .menuButton#menuButtonSearch{
        background-image: url('./images/menu/search.png');
    }
    .menuButton#menuButtonSearchDisabled{
        background-image: url('./images/menu/search_disabled.png');
        cursor: auto;
    }

    .menuButton#menuButtonRule{
        background-image: url('./images/menu/rule.png');
    }
    .menuButton#menuButtonRuleDisabled{
        background-image: url('./images/menu/rule_disabled.png');
        cursor: auto;
    }

    .menuButton#menuButtonExit{
        background-image: url('./images/menu/exit.png');
    }
    .menuButton#menuButtonExitDisabled{
        background-image: url('./images/menu/exit_disabled.png');
        cursor: auto;
    }


    .menuPopup{
        background-color: #FFFFFF;
        border-color: #9CABC1;
    }

    .menuPopupBar{
        background-color: #E5EAF1;
    }

    .menuPopupBar.action{
        background-image: url('./images/menu/statistics_sub_action.png');
    }

    .menuPopupBar.jvm{
        background-image: url('./images/menu/statistics_sub_jvm.png');
    }

    .menuPopupBar.httpSession{
        background-image: url('./images/menu/statistics_sub_httpSession.png');
    }

    .menuPopupBar.hardDisk{
        background-image: url('./images/menu/statistics_sub_hardDisk.png');
    }
    
    
    .homeTitle.action{
        background-image: url('./images/menu/statistics_sub_action_small.png');
    }

    .homeTitle.jvm{
        background-image: url('./images/menu/statistics_sub_jvm_small.png');
    }

    .homeTitle.httpSession{
        background-image: url('./images/menu/statistics_sub_httpSession_small.png');
    }

    .homeTitle.hardDisk{
        background-image: url('./images/menu/statistics_sub_hardDisk_small.png');
    }
    

    .menuPopupBar.exclusion{
        background-image: url('./images/menu/rule_sub_exclusion.png');
    }

    .menuPopupBar.notification{
        background-image: url('./images/menu/rule_sub_notification.png');
    }

    .menuPopupBar.report{
        background-image: url('./images/menu/rule_sub_report.png');
    }

    #menuSearchPopup .menuSearchPopupTab{
        /*border-color: #C7CFDB;*/
        border-color: #E7EEF5;
        background-color: #FFFFFF;
    }

    #menuSearchPopup .menuElementTitle{
        /*background-color: #E5EAF1;*/
        border-color: #C7CFDB;

        /*background-image: url('./images/background_light.png');*/
    }

    #menuSearchPopup .menuPanel{
        border-color: #C7CFDB;
        background-color: #F6F8FA;
    }


    .menuElement{
        border-color: #C7CFDB;
        background-color: #FFFFFF;
    }

    .menuElementSeparator{
        background-color: #C7CFDB;
    }

    .menuElement:link {
        text-decoration: none;
        color: #000000;
    }

    .menuElement:visited {
        text-decoration: none;
        color: #000000;
    }

    .menuElement:active {
        text-decoration: none;
        color: #000000;
    }

    .menuElement:hover{
        /*border-color: #9CABC1;
        background-color: #F6F8FA;*/
        background-color: #E7EEF5;

        background-image: url('./images/background_light.png');

        text-decoration: none;
        color: #000000;
    }


    .menuElement#statisticsPopupElementCallServlet{
        /*background-image: url('./images/icons/session.png');*/
    }
    .menuElement#statisticsPopupElementHardDisk{
        /*background-image: url('./images/icons/hard_disk.png');*/
    }
    .menuElement#statisticsPopupElementJvm{
        /*background-image: url('./images/icons/jvm.png');*/
    }
    .menuElement#statisticsPopupElementHttpSession{
        /*background-image: url('./images/icons/http_session.png');*/
    }

    #content {

    }

    #footer {
        border-color: #9CABC1;
        background-color: #F6F8FA;
    }



    .bodySeparator{
        border-color: #9CABC1;
        background-color: #F6F8FA;
        background-image: url('./images/background.png');
    }

    .bodySeparatorButton{
        background-image: url('./images/button/body_separator.png');
    }

    .resultTable{
        background-color: #FFFFFF;
    }

    .resultTableHeader{
        border-color: #9CABC1;
        background-color: #E7EEF5;

        background-image: url('./images/background_light.png');
    }

    .columnSorted{
        background-color: #F6F8FA;
    }

    .columnUnsorted{
        /*background-image: url('./images/table/unsorted.gif');*/
        background-image: none;
    }

    .columnAscending{
        background-image: url('./images/table/ascending.gif');
    }

    .columnDescending{
        background-image: url('./images/table/descending.gif');
    }


    .resultTableCell{
        border-color: #C7CFDB;
    }

    .boxContent{
        background-color: #F6F8FA;
        border-color: #C7CFDB;
        /*background-color: #FFFFFF;*/
    }

    .boxContentSepartor{
        border-color: #9CABC1;
        background-color: #C7CFDB;
        background-image: url('./images/background.png');
    }

    .resultTableRowExpanded{
        /*background-color: #F6F8FA;*/
    }

    .resultTableRow:hover{
        background-color: #F6F8FA;
        /*background-image: url('./images/background_light.png');*/
    }

    .checkBox{
        border-color: #9CABC1;
        background-color: #F6F8FA;
    }

    .resultTable .checkBox:hover{
        background-color: #C7CFDB;
    }

    .checkBoxSelected{
        background-image: url('./images/check.png');
    }

    .progressBarWrap{
        border-color: #9CABC1;
    }

    .progressBarValue{
        background-color: #C7CFDB;
    }

    #loadingPopup{
        border-color: #9CABC1;
        background-color: #F6F8FA;

        background-image: url('./images/background.png');
    }

    .popupContainer{
        border-color: #9CABC1;
        background-color: #F6F8FA;

        background-image: url('./images/background.png');
    }

    .popupContent{
        border-color: #9CABC1;
        background-color: #FFFFFF;

        /*background-image: url('./images/background_light.png');*/
        /*background-image: url('./images/ajax-loading.gif');*/
    }

    #loadingPopup .popupText{
        background-image: url('./images/ajax-loading.gif');
    }

    #errorPopup .popupText{
        padding-left: 40px;

        background-position: 0% 0%;
        background-image: url('./images/popup/warning.png');
    }

    #deletePopup .popupText{
        padding-left: 40px;

        background-position: 0% 0%;
        background-image: url('./images/popup/delete.png');
    }

    .informationPanel{
        border-color: #9CABC1;
        background-color: #F6F8FA;

        background-image: url('./images/popup/bulb.png');
    }

    .comboOptions{
        border-color: #9CABC1;
        background-color: #F6F8FA;

        background-image: url('./images/background_light.png');
    }

    .comboOptions .checkBoxLabel{
        border-color: #C7CFDB;
    }


    .ruleMenuElement{
        border-color: #C7CFDB;

        background-image: url('./images/background_light.png');
        border-color: #9CABC1;
    }

    .ruleMenuElement .selected{
        background-image: url('./images/rule/selected.png');
    }

    .detailTitle{
        /*background-color: #F6F8FA;
        border-color: #C7CFDB;*/

        /*background-color: #FFFFFF;
        border-color: #FFFFFF;*/
    }

    .detailValue{
        background-color: #FFFFFF;

        border-color: #C7CFDB;
    }

    .detailValueSeparator{
        /*background-image: url('./images/separator.jpg');*/
        border-color: #C7CFDB;
    }

    .detailSeparator{
        /*background-color: #C7CFDB;*/
    }

    .detailValueArrowGreenUp{
        background-image: url('./images/arrow/up_green.png');
        /*background-color: #88FF88;
        border-color: #22CC22;*/
    }

    .detailValueArrowRedUp{
        background-image: url('./images/arrow/up_red.png');
        /*background-color: #FF8888;
        border-color: #CC2222;*/
    }

    .detailValueArrowOrangeUp{
        background-image: url('./images/arrow/up_orange.png');
        /*background-color: #FFCC88;
        border-color: #FF6644;*/
    }

    .detailValueArrowGreenDown{
        background-image: url('./images/arrow/down_green.png');
        /*background-color: #88FF88;
        border-color: #22CC22;*/
    }

    .detailValueArrowRedDown{
        background-image: url('./images/arrow/down_red.png');
        /*background-color: #FF8888;
        border-color: #CC2222;*/
    }

    .detailValueArrowOrangeDown{
        background-image: url('./images/arrow/down_orange.png');
        /*background-color: #FFCC88;
        border-color: #FF6644;*/
    }

    .detailValueArrowGrayRight{
        background-image: url('./images/arrow/right_gray.png');
        /*background-color: #EEEEEE;
        border-color: #CCCCCC;
        */
    }

    #bodyChartImage{
        background-image: url('./images/chart_background.png');
    }

    .logScaleCombo{
        background-image: url('./images/log_scale.png');

    }

    .trendLinesCombo{
        background-image: url('./images/trend_lines.png');

    }
}

@media print
{
    a:link {
        color: #000000;
    }

    a:visited {
        color: #000000;
    }

    a:hover {
        color: #000000;
    }

    .button:active {
        color: #000000;
    }

    .bodySeparator{
        background-image: none;
    }

    .bodySeparatorButton{
        background-image: none;
    }


    #footer {
        background-color: #FFFFFF;
    }

    .resultTable th{
        background-image: none;
    }

    .boxContentSepartor{
        background-image: none;
    }


}